ATMAsync/SharedResources/Fault_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ATM/SharedResources/Schema.xsd5"
	 targetNamespace="http://www.tibco.com/schemas/ATM/SharedResources/Schema.xsd5"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Fault_detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fault">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="faultcode" type="xs:int"/>
							<xs:element name="faultmsg" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>