ATM/SharedResources/Bal_ReqSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ATM/SharedResources/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/ATM/SharedResources/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AccRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Acctno" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>