Tibco_Task/SharedResources/NumberSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Tibco_Task/SharedResources/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Tibco_Task/SharedResources/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OrderDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Orders" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="amount" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>