MOBILE/SharedResources/Res_AfterRchrgBalSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/MOBILE/SharedResources/Schema3.xsd"
	 targetNamespace="http://www.tibco.com/schemas/MOBILE/SharedResources/Schema3.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Res_RchrgAfterAvailBalDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AfterRechargeBal">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Final_Bal" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>